<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Rücsökprovider - Rücsköverflow</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>
<link rel="shortcut icon" th:href="@{/images/favicon.ico}"></link>
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
	crossorigin="anonymous"></link>
<link th:href="@{/css/cover.css}" rel="stylesheet"></link>

<!-- Latest compiled and minified JavaScript -->

</head>
<body>
	<div class="container">
		<error></error>
		<footer class="footer col-md-12">
			<p>Minden rücsök fenntartva &copy; 2016.</p>
		</footer>
	</div>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<script th:src="@{/js/lib/requirejs/require.js}" data-main="/js/main"></script>
</body>
</html>