<div ng-if="vm.rucsoks.length === 0" class="inner cover">
	<h1 class="cover-heading">Nem tudod mivel baszd el az idődet?</h1>
	<p class="lead">"That's just sad..."</p>
	<p class="lead">
		<a href="#" ng-click="vm.rucsok()" class="btn btn-lg btn-default">Rücskölni
			akarok!</a>
	</p>
</div>
<div ng-if="vm.rucsoks.length !== 0" class="inner cover">
	<div ng-repeat="rucsok in vm.rucsoks" id="rucsok{{rucsok.id}}"
		class="col-md-3 card">
		<div class="rucsok-content">
			<p>{{rucsok.title}}</p>
			<img ng-src="{{rucsok.image}}" alt="{{rucsok.title}}" />
		</div>
		<div class="rucsok-timing">{{rucsok.time}}</div>
	</div>
	<p class="lead">
		<a href="#" ng-click="vm.showAddModal()"
			class="btn btn-lg btn-default">Toljad a tutit!</a>
	</p>
</div>
<div id="rucsok-modal" class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Toldacuccot</h4>
			</div>
			<div class="modal-body">
				<input placeholder="Ide jöhet az url" type="text" ng-change="vm.dirty = true" ng-model="vm.url" />
				<div ng-if="!vm.dirty">
					<div class="preview-title">{{vm.rucsok.title}}</div>
					<div class="preview-image">
						<img ng-src="{{vm.rucsok.image}}" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bazár</button>
				<button ng-if="vm.dirty" ng-click="vm.checkRucsok()" type="button"
					class="btn btn-primary">Csekk</button>
				<button ng-if="!vm.dirty" ng-click="vm.addRucsok()" type="button"
					class="btn btn-primary">Toljad!</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->