<div ng-if="vm.rucsoks.length === 0" class="inner cover">
	<h1 class="cover-heading">Nem tudod mivel baszd el az idődet?</h1>
	<p class="lead">"That's just sad..."</p>
	<p class="lead">
		<a href="#" ng-click="vm.rucsok()" class="btn btn-lg btn-default">Rücskölni
			akarok!</a>
	</p>
</div>

<!-- SEARCH BAR -->
<div ng-if="vm.rucsoks.length !== 0" id="navbar"
	class="navbar-collapse collapse">
	<form class="navbar-form navbar-right">
		<div class="form-group">
			<input class="search-field" type="text"
				placeholder="Ha meghalok, ráterhelik a családomra?"
				ng-model="vm.search" class="form-control"> <a href="#"
				alt="Hát nem megmondtam, hogy ne gyere be meg ne gyere erre he!"
				data-ng-click="vm.showLoginModal()" class="btn btn-sm btn-default">Lépjek
				már be!</a>
		</div>
	</form>
</div>

<div data-ng-if="vm.rucsoks.length !== 0" class="inner">
	<!-- RUCSOK-LIST -->
	<div class="col-md-2 card" data-ng-click="vm.visit(rucsok.link)"
		data-ng-repeat="rucsok in vm.rucsoks | filter : vm.search"
		id="rucsok{{rucsok.id}}">
		<div class="rucsok-content">
			<p class="wrap">{{rucsok.title}}</p>
			<img class="thumbnail" data-ng-src="{{rucsok.image}}"
				alt="{{rucsok.title}}" />
		</div>
		<div class="rucsok-timing">{{rucsok.time}}</div>
	</div>

	<!-- UPLOAD BUTTON -->
	<div class="col-md-12">
		<p class="lead">
			<a href="#" data-ng-click="vm.showAddModal()"
				class="btn btn-lg btn-default">Toljad a tutit!</a> <a href="#"
				data-ng-click="vm.refresh()" class="btn btn-lg btn-default">Frissíccsé'!</a>

		</p>
	</div>

</div>

<!-- UPLOAD MODAL -->
<div id="rucsok-modal" class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Toldacuccot</h4>
			</div>
			<div class="modal-body">
				<input placeholder="Ide jöhet az url" type="text"
					ng-change="vm.dirty = true" ng-model="vm.url" />
				<div data-ng-show="vm.preload" class="preloader">
					<img class="thumbnail" src="/images/preload.gif" />
				</div>
				<div ng-if="!vm.dirty">
					<div class="preview-title">{{vm.rucsok.title}}</div>
					<div class="preview-image">
						<img class="thumbnail" ng-src="{{vm.rucsok.image}}" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bazár</button>
				<button ng-if="vm.dirty" ng-click="vm.checkRucsok()" type="button"
					class="btn btn-primary">Csekk</button>
				<button ng-if="!vm.dirty" ng-click="vm.addRucsok()" type="button"
					class="btn btn-primary">Toljad!</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- LOGIN MODAL -->
<div id="login-modal" class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Belépeke</h4>
			</div>
			<div class="modal-body">
				<div class="input-group">
					<input class="form-control" name="username" ng-model="vm.username"
						placeholder="Júzer" /> <input type="password"
						class="form-control" name="password" ng-model="vm.password"
						placeholder="Passz" />
				</div>
				<div data-ng-show="(vm.invalidlogin === true)" role="alert"
					class="alert alert-warning">Hát ezt benézted!</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Bazár</button>
				<button ng-if="vm.dirty"
					ng-click="vm.login(vm.username, vm.password)" type="button"
					class="btn btn-primary">Nyomjad a prést!</button>
				<button ng-if="!vm.dirty" ng-click="vm.facebookLogin()"
					type="button" class="btn btn-primary">Fészbúkról</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
