.centered {
	max-width: 100%;
	max-height: 100%;
	vertical-align : middle;
	text-align: center;
}
#rucsok{
	display:block;
	margin:auto;
	max-width:300px;
	text-align:center;
}

#rucsok img{
	max-width:300px;
	max-height: 200px;
}

#add-rucsok-modal {
	z-index: 1000;
}

.alert-danger{
	color: red;
}

.vote-up:hover, .voted-up {
	color: #33cd5f;
}

.vote-down:hover,  .voted-down {
	color: #ef473a;
}

/* HACK - veryyyyy baaad, on emulated android tabs bar disappears without this */
.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs {
	top: 44px;
}