<ion-view view-title="Contribute to da Rücsök">
	<ion-header-bar>

        <button class="button button-clear button-primary" ng-click="hideAddRucsokForm()">
        	Cancel
        </button>      
        
	</ion-header-bar> 
	<ion-content>	
	
		<div class="list">
		   <label class="item item-input">
		   		<input type="text" ng-class="urlErrorClass" ng-model="formData.url" placeholder="URL here" name="url" required>
		   </label>
		   <div class = "row">
			   <div class = "col">
			  	   <button class="button button-full button-negative" ng-click="crawlNewRucsok()">
				   	Check
				   </button>
			   </div>
			   <div class = "col">
			   	   <button class="button button-full button-positive" ng-click="addNewRucsok()">
				   	Create
				   </button>
			   </div>
			</div>	
		</div>
		<rucsok-preview></rucsok-preview>
	</ion-content> 
</ion-view>