  <ion-tabs delegate-handle="dashboard" class="tabs-icon-top tabs-positive">

        <ion-tab title="Fresh" icon="ion-home" href="#/app/tabs">
          <ion-nav-view name="fresh-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Hot" icon="ion-information" >
          <ion-nav-view name="hot-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Jokes" icon="ion-world" href="#/app/tabs/hot">
          <ion-nav-view name="dailyjoke-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>