  <ion-tabs delegate-handle="profile" class="tabs-icon-bottom tabs-positive">

        <ion-tab title="Posts" icon="ion-home" ng-click="posts()" >
          <ion-nav-view name="posts-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Comments" icon="ion-information" ng-click="posts()">
          <ion-nav-view name="comments-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Upvotes" icon="ion-world" ng-click="posts()">
          <ion-nav-view name="upvote-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
