<ion-view>
<ion-nav-bar>
<ion-nav-title>{{item.title}}</ion-nav-title>
</ion-nav-bar>
  <ion-content ng-keyup="onKeyUp($event)" tabindex="1" on-swipe-left="swipeLeft()" on-swipe-right="swipeRight()">

	<div ng-switch="item.type">
		<div ng-switch-when="embedvideo">
			<embedvideo-rucsok>
		</div>
		<div ng-switch-when="html5video">
			<html5video-rucsok>
		</div>
		<div ng-switch-default>
			<image-rucsok>
		</div>
	</div>
	
  	<div class="row">
  		<span></span>
  	</div>
  	<div class="row">
  		<span class="col">
  			<a href={{item.link}} target="_blank">
  				Source
  			</a>
  		</span>  
  		<span class="col">
  			Posted by {{item.username}}
  		</span>  		
  	</div>
  </ion-content>
      <ion-nav-buttons side="primary">
	      <button class="button btn-danger" ng-click="backButton()">
	        <i class="ion-arrow-left-c"></i> Back
	      </button>
    </ion-nav-buttons>
</ion-view>
