<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"></meta>
    <title>Rücsökprovider - amikor eljő a vég</title>

    <link th:href="@{lib/ionic/css/ionic.css}" rel="stylesheet"></link>
    <link th:href="@{lib/ion-gallery/dist/ion-gallery.css}" rel="stylesheet"></link>
    <link th:href="@{css/style.css}" rel="stylesheet"></link>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link th:href="@{css/ionic.app.css}" rel="stylesheet"></link>
    -->

    <!-- cordova script (this will be a 404 during development) -->
    <script th:src="@{/cordova.js}"></script>

    <!-- load requirejs config -->
    <script th:src="@{/main.js}"></script>
    <!-- load requirejs -->
    <script th:src="@{lib/requirejs/require.min.js}"></script>
    <!-- load boot-script - it loads configs, routes, runs and bootstraps the app -->
    <script th:src="@{app/boot.js}"></script>
  </head>
  <body>
    <!-- The nav bar that will be updated as we navigate -->
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>

    <ion-nav-view>
    </ion-nav-view>
    <input type="hidden" th:name="${_csrf.parameterName}"
		th:value="${_csrf.token}" />
  </body>
</html>